Time Series Basics

    What is a time series? What is required to be considered time series data?

    A time series is any data in which the rows represent different points in time. It can be just a date, just a time, or a combination of both date and time.
    A time series may have rows that represent evenly spaced times or the rows may represent unevenly spaced times.
        If the times are evenly spaced, the time series has a frequency. This means there is a fixed distance between each observation/row (e.g. daily, monthly, yearly, etc)

Representing Time Series in Python

    There are 2 primary ways we will represent date/time with Python:
        Python's datetime module with datetime variables.
            https://docs.python.org/3/library/datetime.html
        Pandas' Custom Datetime Classes are built on top of Python's datetime objects.
            https://pandas.pydata.org/docs/user_guide/timeseries.html
    Pandas makes it easy to convert any column of date/time values into a "datetime" datatype but uses its own classes which work similarly to standard Python datetime variables.

datetime Objects (Basic Python)

    Python has a datetime module that has a date class (dates without hours/minutes/seconds), a time class (hours/minutes/seconds without a date) and a datetime class, which is a combination of both.
    We will use the datetime class as it is the most flexible.

First, we must import the datetime library:

In [1]:
import datetime as dt

dt has .datetime methods. For example, we can obtain the current date and time with .now()

In [2]:
now = dt.datetime.now()
now

datetime.datetime(2023, 9, 23, 17, 13, 13, 638679)

**Note that your output will be different, and should be the current date and time.**

Notice the formatting of the output: It contains the year, month, day, hour, minute, second, and microsecond.

We can extract each of these individual pieces of the date and time as attributes:

        For Example:
            .to obtain just the year, use .year
            to obtain just the month, use .month
            etc.

In [3]:
## use datetime attribute to obtain just the year
now.year

2023

Datetime Formatting

Displayed

    When datetime variables are displayed, we see all of the individual pieces of the date as a list.

In [4]:
## display using display function
display(now)

datetime.datetime(2023, 9, 23, 17, 13, 13, 638679)

In [5]:
# display by leaving as final line in cell
now

datetime.datetime(2023, 9, 23, 17, 13, 13, 638679)

Printed

    When datetime variables are printed, they look very different:

In [6]:
print(now)

2023-09-23 17:13:13.638679

    As we can see, this looks a lot closer to how we would expect a date and time to look.
    Datetime objects have a specific date format.
        The default format for a datetime object is:
            {4 digit year}-{2 digit month}-{2 digit day} {hour in 24 hour time}:{minute}:{seconds}.{microseconds}
        We can represent this format using a format string: "%Y-%m-%d %H:%M:%S.%f" (which we will explain in the next section)
    Datetime objects have a method that controls which format is used for printed/text versions of the date, called .strftime.

Datetime.strftime
As you may imagine, there are many options for how you choose to format dates and times! Refer to Documentation for strftime for a table of format codes. These codes allow you to specify what type of date formatting should be used.

Some examples of formatting options:
For the day of the month:

One option is:

    %d: 0-padded 2-digit day of the month (e.g. 01, 12, 26, etc)

Try it now and see:

In [7]:
# just output the day with a leading 0 if needed
format_a = "%d"
now.strftime(format_a)

'23'

Notice that since we only specified a format for day in format_a, our output only included the day of the month.

For month:

A few options are:

    %B: full month name (e.g. January, February)
    %b: abbreviated month name (e.g. Jan, Feb, etc)
    %m: 0-padded 2-digit month of the year (e.g. 01,06,11,12)

Let's try adding the full month name before our day of the month

In [8]:
# Add full month name to day of month
format_b = "%B %d"
now.strftime(format_b)

'September 23'

Try some of the other options for month! Which do you think looks the best?


For the day of the week:

One option for day of the week:

    %a: Weekday as the localeâ€™s abbreviated name. (e.g. "Sun, Mon")

Let's start with the day of the week, followed by a comma.

    Notice that any additional spacing or characters used when defining the format will be included in the final string.

In [9]:
# Add day of the week to month and day
format_c = "%a, %B %d"
now.strftime(format_c)

'Sat, September 23'

Use the documentation to see what other options for a day of the week you might want to use!
https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

For the year:

A few options include:

    %Y: 4-digit year (2000, 2022, etc)
    %y: 2-digit 0-padded year without century (eg. 00,22, etc)

Let's say we just want to output the abbreviated month and the 2-digit year

In [10]:
# include abbreviated month and 2 digit year
format_d = "%b %y"
now.strftime(format_d)

'Sep 23'

For Time:

    For quick/easy 24-hour military time with minutes and seconds:
        %T (e.g. 17:04:49)
    For the hour of the day:
        %H: 0-padded 24-hour time (e.g. 01, 12, 13,23)
        %I: 0-padded 12-hour time (e.g. 01, 12, 01, 11)
            %p: AM/PM
    For minutes:
        %M: 0-padded 2-digit minutes
    For seconds:
        %S

The code below defines the default datetime format with all of the codes used.

In [11]:
## the default datetime format
default ="%Y-%m-%d %H:%M:%S.%f"
print(now)
now.strftime(default)

2023-09-23 17:13:13.638679

'2023-09-23 17:13:13.638679'

Let's try some time formats. Include the date with slashs between and add the 12-hour time with AM or PM. Do not include milliseconds.

In [12]:
# Example US Formatted 12-hour date/time with AM/PM
fmt = "%m/%d/%Y %I:%M:%S %p"
now.strftime(fmt)

'09/23/2023 05:13:13 PM'

Let's try just the 24-hour time with no date:

In [13]:
## just the time (24 hour time)
now.strftime("%T")

'17:13:13'

Summary

This lesson introduced time series as any data that has a time, date, or time and date component. We also explored the datetime class in basic Python and demonstrated several options for changing the formatting with .strftime(). There are so many options for formatting! You won't remember the codes, but you should know where to find them and how to apply them to achieve what you are looking for in your datetime output.
Key Terms

time series

frequency

Panda's Datetime Functionality

So far, we have just been exploring datetime with the current date and time. Let's look at a data set that has a time series feature. We will be using the Daily Climate Time Series Dataset from Kaggle.

In [14]:
import pandas as pd
url="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcpVvVioO23cndDwr1UmKhndrSq6ES6ZUKZ4fkBBqIAavd1_coVPO_yeOye-Ub-cAWlkX3psJvOU8o/pub?output=csv"
df = pd.read_csv(url)
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   object
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
dtypes: float64(4), object(1)
memory usage: 57.2+ KB

         date   meantemp  humidity  wind_speed  meanpressure
0  2013-01-01  10.000000      84.5    0.000000   1015.666667
1  2013-01-02   7.400000      92.0    2.980000   1017.800000
2  2013-01-03   7.166667      87.0    4.633333   1018.666667


    In the above dataset, we can see that we have a date column. According to our .info(), this column is still a string ("object" dtype)
    From our .head(), we can see that the date column seems to formatted as
        4-digit year, a dash, 2 digit month, a dash, and 2 digit day.
        there is no time information, just the date.

pd.to_datetime

Pandas has a very helpful function called to_datetime that can intelligently convert a column into the "datetime" data type.

        pd.to_datetime Documentation: 
        
        https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

Let's convert our date column to datetime and then check our .info() and .head() again. Note, that we are keeping the original "date" column as a string, and adding an additional column.

In [15]:
df['datetime'] = pd.to_datetime(df['date'])
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   object
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
 5   datetime      1462 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 68.7+ KB

         date   meantemp  humidity  wind_speed  meanpressure   datetime
0  2013-01-01  10.000000      84.5    0.000000   1015.666667 2013-01-01
1  2013-01-02   7.400000      92.0    2.980000   1017.800000 2013-01-02
2  2013-01-03   7.166667      87.0    4.633333   1018.666667 2013-01-03

We can see that our new "datetime" column's dtype is listed as "datetime64[ns]" and the original date is still a string.

    Note: [ns] is indicating nano-second precision.

    Notice, however, that the values stored in the date and datetime columns both look the same in the output!
        This is misleading, because when viewed as a dataframe or series, the output will always show the string version of the datetime even if it is actually a datetime object.
    Let's slice out 1 value from both columns with .loc and see how the values look when viewed alone.

In [16]:
## preview first row from the date column (string)
df.loc[0,'date']

'2013-01-01'

In [17]:
## preview firet row from the datetime column (datetime64[ns])
df.loc[0, 'datetime']

Timestamp('2013-01-01 00:00:00')

    When viewed single objects, NOW we can see the difference. The values stored in our new 'datetime' column are a special new type of object called a Timestamp.
    The Timestamp class is the simplest datetime variable type in Pandas and shares much of the same functionality as the basic Python datetime class.
    We can use .strftime with Pandas Timestamps just as we demonstrated with basic Python datetime class in the previous lesson. The formatting codes will also be the same. 

For example,

    If you wanted "January 01, 2013", you would use: "%B %d, %Y".

In [18]:
## demonstrate format code
fmt = "%B,%d, %Y"
df.loc[0,'datetime'].strftime(fmt)

'January,01, 2013'

Using the .dt. accessor for a datetime column

    Just like we can slice out a string column and use .str. to access string methods, Pandas also has a .dt. for datetime columns.

.dt.strftime

Here we will apply the desired format and create an entire new column:

In [19]:
df['datetime_fmt'] = df['datetime'].dt.strftime(fmt)
df['datetime_fmt']

0        January,01, 2013
1        January,02, 2013
2        January,03, 2013
3        January,04, 2013
4        January,05, 2013
              ...
1457    December,28, 2016
1458    December,29, 2016
1459    December,30, 2016
1460    December,31, 2016
1461     January,01, 2017
Name: datetime_fmt, Length: 1462, dtype: object

Important Note: .dt.strftime returns a STRING not an actual datetime column. (notice in the output below that the "datetime_fmt" column is an "object" dtype)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1462 entries, 0 to 1461
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1462 non-null   object
 1   meantemp      1462 non-null   float64
 2   humidity      1462 non-null   float64
 3   wind_speed    1462 non-null   float64
 4   meanpressure  1462 non-null   float64
 5   datetime      1462 non-null   datetime64[ns]
 6   datetime_fmt  1462 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 80.1+ KB

Using .dt.strftime is fine for when we simply want to display dates, but when we actually want to continue to use the feature as a datetime column, we must accept the default formatting.

The good news is that pandas is very flexible in how WE format our dates when slicing a datetime column. This is demonstrated below.


.dt.year/month/day/hour/etc

With the datetime object, we have a great deal of flexibility in accessing the specific information we want. For example, we could obtain just the year.

In [21]:
df['datetime'].dt.year.head()

0    2013
1    2013
2    2013
3    2013
4    2013
Name: datetime, dtype: int64

 To clarify, if we were to try this on our "datetime_fmt" column (which is just a string), it will not work! Try the following code to demonstrate the value of using the datetime object!

In [22]:
# Attempting to obtain year from a .dt.strftime object will NOT work!
df['datetime_fmt'].dt.year.head()

AttributeError: Can only use .dt accessor with datetimelike values

Error!

Some other examples:

We could obtain just the month:

In [23]:
df['datetime'].dt.month.head()

0    1
1    1
2    1
3    1
4    1
Name: datetime, dtype: int64

In some cases, we might be more interested in the quarter:

In [24]:
## fiscal year quarter
df['datetime'].dt.quarter.head()

0    1
1    1
2    1
3    1
4    1
Name: datetime, dtype: int64

We could also just focus on the day of the week:

In [25]:
## day of the week - numeric
df['datetime'].dt.day_of_week.head()

0    1
1    2
2    3
3    4
4    5
Name: datetime, dtype: int64

Or, if we prefer to have the name instead of the number:

In [26]:
 ## day of the week - String name
df['datetime'].dt.day_name().head()

0      Tuesday
1    Wednesday
2     Thursday
3       Friday
4     Saturday
Name: datetime, dtype: object

## Setting a Datetime Index

Before we can start slicing our data using the datetime object, we will need to make the datetime column the index for the DataFrame or Series.

In [27]:
df = df.set_index('datetime')
df

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January,01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January,02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January,03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January,04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January,05, 2013"
...,...,...,...,...,...,...
2016-12-28,2016-12-28,17.217391,68.043478,3.547826,1015.565217,"December,28, 2016"
2016-12-29,2016-12-29,15.238095,87.857143,6.000000,1016.904762,"December,29, 2016"
2016-12-30,2016-12-30,14.095238,89.666667,6.266667,1017.904762,"December,30, 2016"
2016-12-31,2016-12-31,15.052632,87.000000,7.325000,1016.100000,"December,31, 2016"
2017-01-01,2017-01-01,10.000000,100.000000,0.000000,1016.000000,"January,01, 2017"

If we check the DataFrame's .index, we can confirm that it is indeed still datetime dtype.

In [28]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2016-12-23', '2016-12-24', '2016-12-25', '2016-12-26',
               '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
               '2016-12-31', '2017-01-01'],
              dtype='datetime64[ns]', name='datetime', length=1462, freq=None)

Slicing a Time Series with pandas

    Pandas is incredibly flexible/generous in processing dates when we use .loc.
    For example, if we wanted every row from the year 2013, we can just use .loc and a string version of the year

In [29]:
df.loc['2013']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January,01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January,02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January,03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January,04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January,05, 2013"
...,...,...,...,...,...,...
2013-12-27,2013-12-27,11.875000,79.875000,1.162500,1018.625000,"December,27, 2013"
2013-12-28,2013-12-28,10.875000,70.000000,5.325000,1019.250000,"December,28, 2013"
2013-12-29,2013-12-29,10.571429,69.428571,5.325000,1018.500000,"December,29, 2013"
2013-12-30,2013-12-30,12.375000,79.500000,6.475000,1018.125000,"December,30, 2013"
2013-12-31,2013-12-31,14.500000,89.375000,4.862500,1020.500000,"December,31, 2013"

We can also slice a range of dates, for example, all of 2013 and 2014:

In [30]:
df.loc['2013':'2014']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January,01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January,02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January,03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January,04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January,05, 2013"
...,...,...,...,...,...,...
2014-12-27,2014-12-27,10.375000,69.000000,2.775000,1018.625000,"December,27, 2014"
2014-12-28,2014-12-28,9.000000,86.000000,0.700000,1019.750000,"December,28, 2014"
2014-12-29,2014-12-29,11.125000,72.625000,1.387500,1017.250000,"December,29, 2014"
2014-12-30,2014-12-30,11.625000,70.625000,2.550000,1014.625000,"December,30, 2014"
2014-12-31,2014-12-31,12.375000,67.125000,2.787500,1016.875000,"December,31, 2014"

    It is also flexible with the frequency/specificity of the dates that we use.
    For example, if we wanted all of 2013 and everything up through June of 2014, we could use:

In [31]:
df.loc['2013':'06-2014']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-01-01,2013-01-01,10.000000,84.500000,0.000000,1015.666667,"January,01, 2013"
2013-01-02,2013-01-02,7.400000,92.000000,2.980000,1017.800000,"January,02, 2013"
2013-01-03,2013-01-03,7.166667,87.000000,4.633333,1018.666667,"January,03, 2013"
2013-01-04,2013-01-04,8.666667,71.333333,1.233333,1017.166667,"January,04, 2013"
2013-01-05,2013-01-05,6.000000,86.833333,3.700000,1016.500000,"January,05, 2013"
...,...,...,...,...,...,...
2014-06-26,2014-06-26,32.500000,60.375000,3.237500,1001.000000,"June,26, 2014"
2014-06-27,2014-06-27,34.750000,48.500000,9.487500,1001.625000,"June,27, 2014"
2014-06-28,2014-06-28,34.875000,49.000000,5.787500,999.375000,"June,28, 2014"
2014-06-29,2014-06-29,33.000000,57.750000,9.712500,997.750000,"June,29, 2014"
2014-06-30,2014-06-30,32.000000,67.750000,3.250000,997.500000,"June,30, 2014"

    Pandas even let's us use completely different date formats! (though this would get confusing in your own code and should be avoided).
    To get everything from 03/2013 to 06/2014 we could use:

In [32]:
# Just to demonstrate the flexibility, we can use different formats in one line of code
df.loc['March, 2013':'06-2014']

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2013-03-01,2013-03-01,17.333333,49.333333,24.066667,1016.333333,"March,01, 2013"
2013-03-02,2013-03-02,19.000000,54.000000,15.725000,1016.250000,"March,02, 2013"
2013-03-03,2013-03-03,19.333333,62.833333,8.633333,1016.166667,"March,03, 2013"
2013-03-04,2013-03-04,17.600000,71.000000,5.560000,1015.800000,"March,04, 2013"
2013-03-05,2013-03-05,20.875000,61.875000,4.162500,1016.375000,"March,05, 2013"
...,...,...,...,...,...,...
2014-06-26,2014-06-26,32.500000,60.375000,3.237500,1001.000000,"June,26, 2014"
2014-06-27,2014-06-27,34.750000,48.500000,9.487500,1001.625000,"June,27, 2014"
2014-06-28,2014-06-28,34.875000,49.000000,5.787500,999.375000,"June,28, 2014"
2014-06-29,2014-06-29,33.000000,57.750000,9.712500,997.750000,"June,29, 2014"
2014-06-30,2014-06-30,32.000000,67.750000,3.250000,997.500000,"June,30, 2014"

##  Finding dates of extreme values - using .idxmax() and .idxmin()

    Now that we have a datetime index, we can start answering some questions about historical extreme values.
        For example, print the following sentence for the most humid day in in this dataset:
        "The most humid day was {date as dd/mm/yyyy}, which was a {day of the week}. The humidity was { max humidity}, and the average temperature was {}"

#### Option 1: Find max and filter (not recommended)

    One approach we could take is to find the highest humidity value , we could use df['humidity'].max(), but that would only give us the humidity value.
        We will also have to do some filtering with pandas to find the date with the max:

In [34]:
## using max and slicing to find the index
max_humid = df['humidity'].max()
most_humid_date = df.loc[ df['humidity']==max_humid]
max_date = most_humid_date.index
most_humid_date

,date,meantemp,humidity,wind_speed,meanpressure,datetime_fmt
datetime,,,,,,
2017-01-01,2017-01-01,10.0,100.0,0.0,1016.0,"January,01, 2017"

In [35]:
## now print the requested statement
print(f"The most humid day was {max_date.strftime('%m/%d/%Y')}, which was a {max_date.day_name()}.")
print(f" The humidity was {max_humid}, and the average temperature was {most_humid_date['meantemp']}")

The most humid day was Index(['01/01/2017'], dtype='object', name='datetime'), which was a Index(['Sunday'], dtype='object', name='datetime').
 The humidity was 100.0, and the average temperature was datetime
2017-01-01    10.0
Name: meantemp, dtype: float64

    As you can see, we receive Pandas series for most of the values we sliced, even though we only had 1 row.

#### Option 2: Using .idxmax() (recommended)

    An alternative (and better) option:
        We can use the .idxmax() method to get the INDEX of the maximum value.

In [36]:
max_date = df['humidity'].idxmax()
max_date

Timestamp('2017-01-01 00:00:00')

In [37]:
df.loc[max_date]

date                  2017-01-01
meantemp                    10.0
humidity                   100.0
wind_speed                   0.0
meanpressure              1016.0
datetime_fmt    January,01, 2017
Name: 2017-01-01 00:00:00, dtype: object

    We need to construct a print statement that will use several pieces of information that we want to pull from our Series for the max_date.

    To simplify the f-string we will create, we can save all of the values from our 1 row of 5 values (date, meantemp, humidity, wind_speed, meanpressure) in separate variables. The long/tedious way we could do this is to use a separate line for each variable we want to create and use a df.loc to slice out the right feature.

In [38]:
## TEDIOUS WAY/BAD WAY
## Saving each value from the series as separate variables
str_date = df.loc[max_date,'date']
temp = df.loc[max_date,'meantemp']
humidity = df.loc[max_date,'humidity']
wind = df.loc[max_date,'wind_speed']
pressure = df.loc[max_date,'meanpressure']
# Proving that it worked!
str_date, temp, humidity, wind, pressure

('2017-01-01', 10.0, 100.0, 0.0, 1016.0)

    Instead of having to do this in many lines, we can do it all in 1 line by leveraging Python's tuple unpacking.
        See this Geeks for Geeks article for more information on unpacking with python.
    In short, if we have a variable that contains several values, we can slice out each value into a new variable by setting a variable name for each variable we want to create on the left side of the = and then the container (list/series/etc) that we want to unpack on the right side of the =.

In [39]:
df.loc[max_date]

date                  2017-01-01
meantemp                    10.0
humidity                   100.0
wind_speed                   0.0
meanpressure              1016.0
datetime_fmt    January,01, 2017
Name: 2017-01-01 00:00:00, dtype: object

In [40]:
## Saving each value from the series as separate variables
str_date,temp, humidity, wind, pressure = df.loc[max_date]
# Proving that it worked!
str_date, temp, humidity, wind, pressure

ValueError: too many values to unpack (expected 5)

In [41]:
## now print the requested statement
print(f"The most humid day was {max_date.strftime('%m/%d/%Y')}, \
which was a {max_date.day_name()}.")
print(f"The humidity was {humidity:.2f},\
and the average temperature was {temp:.2f}.")

The most humid day was 01/01/2017, which was a Sunday.
The humidity was 100.00,and the average temperature was 10.00.

Summary

This lesson demonstrated how to convert a feature in a Pandas Dataframe to a Timestamp object. Both the timestamp object and the basic Python datetime objects can be formatted using strftime, and individual components of the date can be easily extracted from each. You also learned to convert the time series to an index for slicing. Finally, you practiced using .idxmin() or .idxmax() to obtain dates associated with extreme values.

# Custom Formats and Errors

''Learning Objectives:

    Troubleshoot errors when converting to time series

In the previous lesson, pandas was easily able to recognize the original date column as a date and was able to convert the values to the appropriate datetime values. (It recognized year as year, month as month, etc.) While pd.to_datetime is clever, it can still need help interpreting rare formats.

### Using pd.to_datetime with custom date formats

    While Pandas is usually able to automatically infer the format of the dates to convert, it doesn't always work properly.
    In these scenarios, we can add the "format" argument to pd.to_datetime and create a date format string that represents the form of the current date column.

Let's take a look at a new dataset with a unique format for the datetime, the London Weather data set from Kaggle. We will call this one "demo", and will return to our original "df" after this.
https://www.kaggle.com/datasets/emmanuelfwerr/london-weather-data

In [43]:
demo = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT_jChgNsQbHbg4TGepzIqk8XC9DTIKmyyxb1upo5cfZCgbfIUQc2ZC0YMzuU5uApP140Ob49KBjdqh/pub?gid=1198589591&single=true&output=csv', usecols=[0,1])
demo.info()
demo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         15341 non-null  int64
 1   cloud_cover  14938 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 239.8 KB

           date  cloud_cover
0      19790101          2.0
1      19790102          6.0
2      19790103          5.0
3      19790104          8.0
4      19790105          6.0
...         ...          ...
15336  20201227          1.0
15337  20201228          7.0
15338  20201229          7.0
15339  20201230          6.0
15340  20201231          7.0

[15341 rows x 2 columns]

    Notice how the date is an integer, not a string.
    Let's try using pd.to_datetime without any arguments (as we did in the previous lesson):

In [45]:
pd.to_datetime(demo['date'])

0       1970-01-01 00:00:00.019790101
1       1970-01-01 00:00:00.019790102
2       1970-01-01 00:00:00.019790103
3       1970-01-01 00:00:00.019790104
4       1970-01-01 00:00:00.019790105
                     ...
15336   1970-01-01 00:00:00.020201227
15337   1970-01-01 00:00:00.020201228
15338   1970-01-01 00:00:00.020201229
15339   1970-01-01 00:00:00.020201230
15340   1970-01-01 00:00:00.020201231
Name: date, Length: 15341, dtype: datetime64[ns]

     What happened? What did we get?

    Pandas was confused and tried to interpret the integer dates as Unix times.
    Unix times are a way of expressing date and time with just numbers. However, the earliest possible unix date is January 01, 1970.
    As you can see above, it assigned the date of 1970-01-01 to every date. And then used the integer date as the number of milliseconds AFTER 12:00AM on 01/01/1970.

The main thing to notice here is: This is not what we wanted!! It is essential that you check the results of anything you ask Python to do to make sure it is working how you expect it to! If not, you need to investigate further and figure out what the issue is.

In this case, python needs a little help from us humans! Let's examine our original date format and see if we can decipher it!

In [46]:
## displaying random sample
demo['date'].sample(n=10).sort_index()

489      19800504
4237     19900808
5037     19921016
6986     19980216
7573     19990926
8974     20030728
11249    20091019
12027    20111206
13287    20150519
14595    20181217
Name: date, dtype: int64

(Your random sample will be different because we did not set a seed here).

    It looks like we have 4-digit years (%Y), followed by the 2-digit month (%m) followed by 2-digit day (%d).
    Once we identify the format of our original column, we can create the format string that Pandas will need to properly parse these dates.
    The combined format code to use is "%Y%m%d". Let's try using this as the format argument for to_datetime:

In [47]:
pd.to_datetime(demo['date'], format='%Y%m%d')

0       1979-01-01
1       1979-01-02
2       1979-01-03
3       1979-01-04
4       1979-01-05
           ...
15336   2020-12-27
15337   2020-12-28
15338   2020-12-29
15339   2020-12-30
15340   2020-12-31
Name: date, Length: 15341, dtype: datetime64[ns]

    That looks MUCH better. Remember, when pd.to_datetime doesn't return what you would expect, you will need to figure out the format code that is appropriate for your current date formatting.

### Handling pd.to_datetime Errors

We will use another dataset for this demonstration

    We will be working with crime data taken directly from the city of Baltimore via Baltimore's Open Data website: https://data.baltimorecity.gov/search?q=crime data
        The exact data we want is "Part 1 Crime Data"
        It is large file and will take some time to download.

In [48]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQ4lekzpYpo0pA9h1d3KYObIb3lQtAqz289c7jpwckioXvxm4xykz6ZSJpnDwjKTxJ4iqpG0seNJdSZ/pub?gidass=>=312387697&single=true&output=csv"
demo = pd.read_csv(url)
demo.head(3)

            CrimeDateTime          Description   District  Latitude  Longitude
0  2022/07/09 09:30:00+00  ROBBERY - RESIDENCE  NORTHEAST   39.3223   -76.5467
1  2022/07/09 16:00:00+00       COMMON ASSAULT   SOUTHERN   39.2821   -76.6355
2  2022/07/09 00:34:28+00             SHOOTING  SOUTHWEST   39.2884   -76.6569

If you try to convert the "CrimeDateTime" column to datetime with pd.to_datetime, you will get an error!

In [50]:
# This will give an error
pd.to_datetime(demo['CrimeDateTime'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1202-05-22 10:56:02 present at position 522867

Error!

(We are not displaying the whole huge error message here to save space)

However, here is a way to try something and get a little insight into what is causing the problem:

In [51]:
try:
        display(pd.to_datetime(demo['CrimeDateTime']))
except Exception as e:
        print(e)

Out of bounds nanosecond timestamp: 1202-05-22 10:56:02 present at position 522867

    Sometimes there may be some "bad" values that are not compatible with the other dates in the column.
    In this case, we can leverage the "errors" argument of pd.to_datetime.
    According to to the docstring for pd.to_datetime:

    We can see that if we use errors='coerce', it will replace incompatible values will NaT (Not a Time).

In [52]:
demo['CrimeDateTime'] = pd.to_datetime(demo['CrimeDateTime'], errors='coerce')
demo['CrimeDateTime'].isna().sum()

1

    Make sure to drop or impute any null values for time. In this case we will just drop the one value.

In [53]:
demo = demo.dropna(subset=['CrimeDateTime'])
demo.head()

,CrimeDateTime,Description,District,Latitude,Longitude
0,2022-07-09 09:30:00+00:00,ROBBERY - RESIDENCE,NORTHEAST,39.3223,-76.5467
1,2022-07-09 16:00:00+00:00,COMMON ASSAULT,SOUTHERN,39.2821,-76.6355
2,2022-07-09 00:34:28+00:00,SHOOTING,SOUTHWEST,39.2884,-76.6569
3,2022-07-09 00:34:28+00:00,SHOOTING,SOUTHWEST,39.2884,-76.6569
4,2022-07-09 18:00:00+00:00,COMMON ASSAULT,NORTHEAST,39.3188,-76.5872

Now that we have dropped the data point that was causing our error, we can try again:

In [54]:
pd.to_datetime(demo['CrimeDateTime'])

0        2022-07-09 09:30:00+00:00
1        2022-07-09 16:00:00+00:00
2        2022-07-09 00:34:28+00:00
3        2022-07-09 00:34:28+00:00
4        2022-07-09 18:00:00+00:00
                    ...
527812   2013-07-31 17:45:00+00:00
527813   2013-07-31 14:15:00+00:00
527814   2013-07-31 21:00:00+00:00
527815   2013-07-31 17:00:00+00:00
527816   2013-07-31 11:40:00+00:00
Name: CrimeDateTime, Length: 527816, dtype: datetime64[ns, UTC]

As you can see, now we were able to convert our feature to a Pandas datetime.
Summary

While Pandas often is able to convert a feature to datetime without issues, this lesson explored a few solutions if you run into issues. First, if you encounter a unique format in your original dataset, you can "help" Pandas figure it out by including the format as an argument when converting it to datetime. If you receive an error due to one or a few data points, you can convert the error to a NaT value and drop it. As always, be sure to check your output along the way to ensure you are getting the results you expect.

# Timedeltas & Date Ranges

''Learning Objectives:

    Apply timedeltas to calculate changes between dates and times.
    Create date ranges of equally spaced intervals.

More Pandas Datetime Functions/Variable Types

    Pandas has other Objects for more advanced datetime functionality.
    See the Pandas user guide for the summary table of datetime objects, including:
        Timedeltas: calculating a change in time.
        date_ranges: creating equally spaced intervals

Panda's Timedeltas

    A time delta is a way to represent an increase or decrease in time. It is used primarily for calculating relative datetimes (e.g. "30 days before").
    Using pd.to_timedelta ([Documentation])(https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html):
        The first Argument is the number of time steps (e.g. 30).
        Unit: the unit of time (e.g. "D").
            Possible values:
                â€˜Wâ€™
                â€˜Dâ€™ / â€˜daysâ€™ / â€˜dayâ€™,
                â€˜hoursâ€™ / â€˜hourâ€™ / â€˜hrâ€™ / â€˜hâ€™,
                â€˜mâ€™ / â€˜minuteâ€™ / â€˜minâ€™ / â€˜minutesâ€™ / â€˜Tâ€™
                â€˜Sâ€™ / â€˜secondsâ€™ / â€˜secâ€™ / â€˜secondâ€™
                â€˜msâ€™ / â€˜millisecondsâ€™ / â€˜millisecondâ€™ / â€˜milliâ€™ / â€˜millisâ€™ / â€˜Lâ€™
                â€˜usâ€™ / â€˜microsecondsâ€™ / â€˜microsecondâ€™ / â€˜microâ€™ / â€˜microsâ€™ / â€˜Uâ€™
                â€˜nsâ€™ / â€˜nanosecondsâ€™ / â€˜nanoâ€™ / â€˜nanosâ€™ / â€˜nanosecondâ€™ / â€˜Nâ€™

We will return to our Delhi weather dataset and convert the 'date' feature to a datetime column.

In [58]:
import pandas as pd
url="https://docs.google.com/spreadsheets/d/e/2PACX-1vQcpVvVioO23cndDwr1UmKhndrSq6ES6ZUKZ4fkBBqIAavd1_coVPO_yeOye-Ub-cAWlkX3psJvOU8o/pub?output=csv"
df = pd.read_csv(url)
df['datetime'] = pd.to_datetime(df['date'])

Set the datetime column as the index:

In [59]:
# set 'datetime' as the index
df = df.set_index('datetime')

Now we will set a time delta of 3 days:

In [60]:
# make the time delta
delta_3d = pd.to_timedelta(3,'D')
delta_3d

Timedelta('3 days 00:00:00')

Example Use:

    For the most humid day in the weather data, what was the average wind speed over the 3 days prior and the 3 days after the most humid day?

In [61]:
max_date = df['humidity'].idxmax()
# calc 3 days BEFORE
pre_max = max_date - delta_3d
pre_max

Timestamp('2016-12-29 00:00:00')

In [62]:
# calc 3 days AFTER
post_max = max_date + delta_3d
post_max

Timestamp('2017-01-04 00:00:00')

Now that we have our pre and post dates, we can obtain average windspeed by setting those dates as the range and calculating the mean:

In [63]:
mean_windspeed = df.loc[pre_max:post_max,'wind_speed'].mean()
mean_windspeed

4.89791666675

### pd.date_range
Another option is to store our range of dates as a variable using pd.date_range.

    pd.date_range Documentation

In [65]:
## making a date range to cover the pre-max to post-max window
date_range = pd.date_range(pre_max, post_max)
date_range

DatetimeIndex(['2016-12-29', '2016-12-30', '2016-12-31', '2017-01-01',
               '2017-01-02', '2017-01-03', '2017-01-04'],
              dtype='datetime64[ns]', freq='D')

Notice that we have a list of indices. When we attempt to run our calculation, we will get an error:

In [66]:
# this will give an error
df.loc[date_range,'wind_speed'].mean()

KeyError: "[Timestamp('2017-01-02 00:00:00'), Timestamp('2017-01-03 00:00:00'), Timestamp('2017-01-04 00:00:00')] not in index"

Can you see what caused the error? It turns out that our date range goes beyond the index of our data.

This did not cause an error when just using .loc with our pre and post dates because using the range within .loc will just pull any dates that fall within the range, rather than a list of each date in the range.

The difference is subtle, but understanding your options and how each work will give you more versatility when writing code.

Summary

This lesson explored some of the advanced functionality of Pandas related to dates and times. You learned how to create time deltas and define a date_range.


Additional Resources

    For more information about working with DateTime in pandas and the different types of datetime variables, read the following:
        Date Time in Pandas: A Simple Guide for Beginners (2022)
        Pandas Doc Page: Time series/ date functionality
        Blog Post: Working with datetime in Pandas DataFrame
        Article: Pandas>> DateOffset, Timedelta, Period